Server/.flows_DESKTOP-1SE7CO9.json.backup
[{"id":"3c758569.41c79a","type":"tab","label":"Untimate todos","disabled":false,"info":""},{"id":"9f7810ea.0c8558","type":"tab","label":"ENV Dashboard","disabled":false,"info":""},{"id":"706cfb9e.5cb5ec","type":"tab","label":"CRUD","disabled":false,"info":""},{"id":"b9ce43e8.37cc08","type":"ui_tab","z":"","name":"Untimate todo list","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d6770dc.97bb27","type":"ui_group","z":"","name":"Todo Form","tab":"b9ce43e8.37cc08","order":1,"disp":true,"width":"6","collapse":false},{"id":"92b223d2.6595a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Courier,monospace","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Courier,monospace"}},"angularTheme":{"primary":"cyan","accents":"blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":5,"py":0}}},{"id":"45c8767d.f0355","type":"ui_group","z":"","name":"Todos List","tab":"b9ce43e8.37cc08","order":2,"disp":true,"width":"6","collapse":false},{"id":"50616d2f.150804","type":"ui_group","z":"","name":"","tab":"4cc76aeb.35e40c","disp":true,"width":"6","collapse":false},{"id":"4cc76aeb.35e40c","type":"ui_tab","z":"","name":"ENV Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"b6804b2b.058d3","type":"ui_group","name":"Group 3","tab":"b9ce43e8.37cc08","order":3,"disp":true,"width":6},{"id":"c0dfc003.3905a","type":"ui_group","z":"","name":"","tab":"4cc76aeb.35e40c","order":2,"disp":true,"width":"6","collapse":false},{"id":"d99837ab.7505d8","type":"ui_spacer","name":"spacer","group":"50616d2f.150804","order":2,"width":1,"height":1},{"id":"c2cbb07.cb40b5","type":"ui_spacer","name":"spacer","group":"c0dfc003.3905a","order":2,"width":1,"height":1},{"id":"a50f1db9.081f78","type":"ui_group","name":"Group 3","tab":"4cc76aeb.35e40c","order":3,"disp":true,"width":6},{"id":"eae3f822.e23128","type":"ui_form","z":"3c758569.41c79a","name":"","label":"","group":"d6770dc.97bb27","order":1,"width":0,"height":0,"options":[{"label":"title","value":"title","type":"text","required":true},{"label":"label","value":"label","type":"text","required":false},{"label":"date","value":"date","type":"date","required":false}],"formValue":{"title":"","label":"","date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"todos","x":112.5,"y":123,"wires":[["bb19525e.6f6138"]]},{"id":"8260343d.eca42","type":"comment","z":"3c758569.41c79a","name":"Todo Form","info":"","x":122.5,"y":46,"wires":[]},{"id":"a2b89153.b46088","type":"comment","z":"3c758569.41c79a","name":"Todo List","info":"","x":120.5,"y":326,"wires":[]},{"id":"34977941.b95eee","type":"debug","z":"3c758569.41c79a","name":"Todo Form","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":673.5,"y":122,"wires":[]},{"id":"bb19525e.6f6138","type":"function","z":"3c758569.41c79a","name":"add status","func":"msg.payload.status_ = 'Todo'\nreturn msg;","outputs":1,"noerr":0,"x":288.5,"y":121,"wires":[["9c9285d3.9868b8"]]},{"id":"9c9285d3.9868b8","type":"objectid","z":"3c758569.41c79a","name":"","selectedProperty":"storage_id","x":301.5,"y":187,"wires":[["c4e315bc.9695f8"]]},{"id":"c4e315bc.9695f8","type":"function","z":"3c758569.41c79a","name":"substr _id","func":"var in_id = msg.payload.storage_id.toString()\nvar out_id = in_id.substr(in_id.length-6)\nmsg.payload.storage_id=out_id\nreturn msg;","outputs":1,"noerr":0,"x":474.5,"y":187,"wires":[["34977941.b95eee","7ee06bd0.9a7e8c"]]},{"id":"7ee06bd0.9a7e8c","type":"function","z":"3c758569.41c79a","name":"set to global todo_form","func":"let todo = msg.payload\nglobal.set('todo_form',todo)\nreturn msg;","outputs":1,"noerr":0,"x":707.5,"y":187,"wires":[[]]},{"id":"2e01a7f3.92d27","type":"ui_list","z":"3c758569.41c79a","group":"45c8767d.f0355","name":"","order":2,"width":"6","height":"9","lineType":"three","actionType":"check","allowHTML":false,"x":427.5,"y":433,"wires":[[]]},{"id":"35c1ca97.157f2e","type":"function","z":"3c758569.41c79a","name":"","func":"let todo = global.get('todo_form')\nlet title_ = todo.title\nlet description_ = \"Label : \"+todo.label\nmsg.payload=[\n    {\n        title:title_,\n        description :description_\n    }]\nreturn msg;","outputs":1,"noerr":0,"x":255.5,"y":431,"wires":[["2e01a7f3.92d27","8adb487a.78b078"]]},{"id":"8adb487a.78b078","type":"debug","z":"3c758569.41c79a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":444.5,"y":347,"wires":[]},{"id":"cc5bf9b4.f8ba1","type":"ui_button","z":"3c758569.41c79a","name":"","group":"45c8767d.f0355","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":94.5,"y":432,"wires":[["35c1ca97.157f2e"]]},{"id":"72f52b4d.53ed8c","type":"comment","z":"3c758569.41c79a","name":"WIP get data realtime from mongodb","info":"","x":191.5,"y":373,"wires":[]},{"id":"cff7aaf4.8a1e78","type":"ui_chart","z":"9f7810ea.0c8558","name":"","group":"50616d2f.150804","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":122.5,"y":101,"wires":[[]]},{"id":"7ae56a1c.5ff62c","type":"ui_chart","z":"9f7810ea.0c8558","name":"","group":"50616d2f.150804","order":3,"width":0,"height":0,"label":"humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":122.5,"y":172,"wires":[[]]},{"id":"36e22dde.d40fba","type":"ui_chart","z":"9f7810ea.0c8558","name":"","group":"c0dfc003.3905a","order":3,"width":0,"height":0,"label":"Air Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":128.5,"y":245,"wires":[[]]},{"id":"ab6a6db8.e1752","type":"ui_chart","z":"9f7810ea.0c8558","name":"","group":"c0dfc003.3905a","order":1,"width":0,"height":0,"label":"Continuous","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":130.5,"y":312,"wires":[[]]},{"id":"e2175d72.5f0728","type":"comment","z":"9f7810ea.0c8558","name":"WIP que data","info":"","x":113.5,"y":36,"wires":[]}]