Server/flows_Todos_ENV.json
[
    {
        "id": "14f5dba6.7b0364",
        "type": "tab",
        "label": "Untimate Todo List",
        "disabled": false,
        "info": ""
    },
    {
        "id": "276ee852.bd0858",
        "type": "tab",
        "label": "ENV Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e50658ff.c04ef8",
        "type": "tab",
        "label": "CRUD Sample",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8ddedb49.bb7418",
        "type": "tab",
        "label": "CRUD Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7314d481.60977c",
        "type": "tab",
        "label": "Pub Todo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1516c399.b0a68c",
        "type": "tab",
        "label": "SUB ENV",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6914b13f.804ef8",
        "type": "ui_tab",
        "z": "",
        "name": "Untimate Todo",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7930c2c.61ea1bc",
        "type": "ui_group",
        "z": "",
        "name": "Todo Form",
        "tab": "6914b13f.804ef8",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9b7ca7c8.eacbe8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "80546830.bfc89",
        "type": "mongodb3",
        "z": "",
        "uri": "mongodb+srv://pasaweeDev:61010707@cluster0-s4oyf.gcp.mongodb.net/Todo_ENV?retryWrites=true&w=majority",
        "name": "Todo_ENV_Database",
        "options": "{ \"useNewUrlParser\": true,\"useUnifiedTopology\": true }",
        "parallelism": "-1"
    },
    {
        "id": "4ac18369.c4355c",
        "type": "ui_group",
        "z": "",
        "name": "Todo List",
        "tab": "6914b13f.804ef8",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "896704eb.eb24f8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Pre project",
        "broker": "soldier.cloudmqtt.com",
        "port": "17013 ",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dd92b981.b40aa8",
        "type": "ui_tab",
        "z": "",
        "name": "ENV Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ce3c07ed.f28948",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "dd92b981.b40aa8",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "959bde5e.69fdb",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "dd92b981.b40aa8",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "7d5c024d.903cac",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "dd92b981.b40aa8",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "5ca7b5e.ee56ecc",
        "type": "comment",
        "z": "14f5dba6.7b0364",
        "name": "Todo Form",
        "info": "",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "8be1ec54.23c3c",
        "type": "comment",
        "z": "14f5dba6.7b0364",
        "name": "Todo List",
        "info": "",
        "x": 120,
        "y": 260,
        "wires": []
    },
    {
        "id": "f37c65b6.4b9318",
        "type": "ui_form",
        "z": "14f5dba6.7b0364",
        "name": "",
        "label": "",
        "group": "7930c2c.61ea1bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Title",
                "value": "title",
                "type": "text",
                "required": true
            },
            {
                "label": "Label",
                "value": "label",
                "type": "text",
                "required": true
            },
            {
                "label": "Date",
                "value": "date",
                "type": "date",
                "required": true
            }
        ],
        "formValue": {
            "title": "",
            "label": "",
            "date": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "f41d436d.017a2"
            ]
        ]
    },
    {
        "id": "f41d436d.017a2",
        "type": "function",
        "z": "14f5dba6.7b0364",
        "name": "ADD Status ",
        "func": "let Todo = \"Todo\"\nmsg.payload.status_ = Todo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "911a5631.89a4f8"
            ]
        ]
    },
    {
        "id": "dfbbf655.62c218",
        "type": "function",
        "z": "14f5dba6.7b0364",
        "name": "substr ",
        "func": "let payload = msg.payload\nlet in_id = payload.store_id.toString()\nlet out_id = in_id.substr(in_id.length-6)\npayload.store_id=out_id\nmsg.payload = payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 140,
        "wires": [
            [
                "c8a30195.3e6b",
                "e2006118.1745f8"
            ]
        ]
    },
    {
        "id": "c8a30195.3e6b",
        "type": "debug",
        "z": "14f5dba6.7b0364",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "e2006118.1745f8",
        "type": "function",
        "z": "14f5dba6.7b0364",
        "name": "Add data to todo_form",
        "func": "let todo = msg.payload\nglobal.set('todo_form',todo)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 180,
        "wires": [
            [
                "dba3bfc8.ffcbf"
            ]
        ]
    },
    {
        "id": "79e84fb1.84dc1",
        "type": "comment",
        "z": "e50658ff.c04ef8",
        "name": "Create",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "696badc.b94a3d4",
        "type": "mongodb3 in",
        "z": "e50658ff.c04ef8",
        "service": "_ext_",
        "configNode": "80546830.bfc89",
        "name": "Find",
        "collection": "todos",
        "operation": "find.toArray",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "fc7bbfdb.b69358"
            ]
        ]
    },
    {
        "id": "c1e4b4d3.bd0bb",
        "type": "inject",
        "z": "e50658ff.c04ef8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "6a3bd527.c02abc"
            ]
        ]
    },
    {
        "id": "fc7bbfdb.b69358",
        "type": "debug",
        "z": "e50658ff.c04ef8",
        "name": "Find Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "82078a3d.6f4f88",
        "type": "inject",
        "z": "e50658ff.c04ef8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "942b7797.70636"
            ]
        ]
    },
    {
        "id": "ec309cac.9a2dd8",
        "type": "debug",
        "z": "e50658ff.c04ef8",
        "name": "Create Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "339568a4.d71b68",
        "type": "mongodb3 in",
        "z": "e50658ff.c04ef8",
        "service": "_ext_",
        "configNode": "80546830.bfc89",
        "name": "Insert",
        "collection": "todos",
        "operation": "insert",
        "x": 530,
        "y": 120,
        "wires": [
            [
                "ec309cac.9a2dd8"
            ]
        ]
    },
    {
        "id": "942b7797.70636",
        "type": "function",
        "z": "e50658ff.c04ef8",
        "name": "Get todo_form",
        "func": "let todo = global.get('todo_form')\nmsg.payload = todo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "339568a4.d71b68"
            ]
        ]
    },
    {
        "id": "b587dfbe.2b41e8",
        "type": "comment",
        "z": "e50658ff.c04ef8",
        "name": "Read",
        "info": "",
        "x": 110,
        "y": 200,
        "wires": []
    },
    {
        "id": "efd86f2d.dd2d48",
        "type": "comment",
        "z": "e50658ff.c04ef8",
        "name": "Update",
        "info": "",
        "x": 110,
        "y": 340,
        "wires": []
    },
    {
        "id": "409d6f3.5cd111",
        "type": "inject",
        "z": "e50658ff.c04ef8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "11c45c8a.89d29b"
            ]
        ]
    },
    {
        "id": "7fce29c6.329f98",
        "type": "mongodb3 in",
        "z": "e50658ff.c04ef8",
        "service": "_ext_",
        "configNode": "80546830.bfc89",
        "name": "Update One",
        "collection": "todos",
        "operation": "updateOne",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "255f8623.fc8492"
            ]
        ]
    },
    {
        "id": "11c45c8a.89d29b",
        "type": "function",
        "z": "e50658ff.c04ef8",
        "name": "Filter And Action",
        "func": "let filter ={\n    \"store_id\":\"0eb22a\"\n}\nlet action ={\n    $set:{\n        \"status_\":\"Done\"\n    }\n}\nmsg.payload=[filter,action]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "7fce29c6.329f98"
            ]
        ]
    },
    {
        "id": "255f8623.fc8492",
        "type": "debug",
        "z": "e50658ff.c04ef8",
        "name": "Update Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "6a3bd527.c02abc",
        "type": "function",
        "z": "e50658ff.c04ef8",
        "name": "Find And Projection",
        "func": "let filter = {}\nmsg.payload=[filter]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 260,
        "wires": [
            [
                "696badc.b94a3d4"
            ]
        ]
    },
    {
        "id": "d9253911.f1c61",
        "type": "comment",
        "z": "e50658ff.c04ef8",
        "name": "Delete",
        "info": "",
        "x": 110,
        "y": 480,
        "wires": []
    },
    {
        "id": "6df747d.b61bab8",
        "type": "inject",
        "z": "e50658ff.c04ef8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 540,
        "wires": [
            [
                "8784efce.d9b808"
            ]
        ]
    },
    {
        "id": "8784efce.d9b808",
        "type": "function",
        "z": "e50658ff.c04ef8",
        "name": "Filter",
        "func": "let filter ={ \"store_id\":\"\"}\nmsg.payload = filter\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 540,
        "wires": [
            [
                "9473c4cc.3b1f9"
            ]
        ]
    },
    {
        "id": "9a305330.324f4",
        "type": "debug",
        "z": "e50658ff.c04ef8",
        "name": "Delete Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 540,
        "wires": []
    },
    {
        "id": "acdaa560.de5b",
        "type": "mongodb3 in",
        "z": "8ddedb49.bb7418",
        "service": "_ext_",
        "configNode": "80546830.bfc89",
        "name": "Insert",
        "collection": "todos",
        "operation": "insert",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "858753be.93702",
                "342bf19d.53af3e",
                "b114eebe.314bb8",
                "8a379586.d566e8"
            ]
        ]
    },
    {
        "id": "9c719982.dd95a8",
        "type": "function",
        "z": "8ddedb49.bb7418",
        "name": "Get todo_form",
        "func": "let todo = global.get('todo_form')\nmsg.payload=todo\nif(todo !== null)\n{\n    return msg;\n}else{\n    return null;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "de1b49ac.8aeb78",
                "acdaa560.de5b"
            ]
        ]
    },
    {
        "id": "858753be.93702",
        "type": "debug",
        "z": "8ddedb49.bb7418",
        "name": "Insert Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "342bf19d.53af3e",
        "type": "function",
        "z": "8ddedb49.bb7418",
        "name": "Reset todo_form",
        "func": "global.set('todo_form',null)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "50c811e8.45f628",
        "type": "comment",
        "z": "e50658ff.c04ef8",
        "name": "Delete All",
        "info": "",
        "x": 120,
        "y": 640,
        "wires": []
    },
    {
        "id": "16101a35.c2cea6",
        "type": "inject",
        "z": "e50658ff.c04ef8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 720,
        "wires": [
            [
                "6cd076a9.31a088"
            ]
        ]
    },
    {
        "id": "9473c4cc.3b1f9",
        "type": "mongodb3 in",
        "z": "e50658ff.c04ef8",
        "service": "_ext_",
        "configNode": "80546830.bfc89",
        "name": "Update One",
        "collection": "todos",
        "operation": "deleteOne",
        "x": 490,
        "y": 540,
        "wires": [
            [
                "9a305330.324f4"
            ]
        ]
    },
    {
        "id": "1e1b3e61.efbd5a",
        "type": "mongodb3 in",
        "z": "e50658ff.c04ef8",
        "service": "_ext_",
        "configNode": "80546830.bfc89",
        "name": "Delete Many",
        "collection": "todos",
        "operation": "deleteMany",
        "x": 470,
        "y": 720,
        "wires": [
            [
                "7d877b8f.4ebdb4"
            ]
        ]
    },
    {
        "id": "7d877b8f.4ebdb4",
        "type": "debug",
        "z": "e50658ff.c04ef8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 720,
        "wires": []
    },
    {
        "id": "6cd076a9.31a088",
        "type": "function",
        "z": "e50658ff.c04ef8",
        "name": "FIlter",
        "func": "let filter = {}\nmsg.payload=[filter]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 720,
        "wires": [
            [
                "1e1b3e61.efbd5a"
            ]
        ]
    },
    {
        "id": "cb95e069.e874f8",
        "type": "mongodb3 in",
        "z": "8ddedb49.bb7418",
        "service": "_ext_",
        "configNode": "80546830.bfc89",
        "name": "Find",
        "collection": "todos",
        "operation": "find.toArray",
        "x": 570,
        "y": 360,
        "wires": [
            [
                "c97ea451.62a5a8",
                "9a8abadd.7b2a7"
            ]
        ]
    },
    {
        "id": "d7145a22.0bfa08",
        "type": "inject",
        "z": "8ddedb49.bb7418",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "79e5f584.567cbc",
        "type": "debug",
        "z": "8ddedb49.bb7418",
        "name": "Find Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1250,
        "y": 360,
        "wires": []
    },
    {
        "id": "b114eebe.314bb8",
        "type": "function",
        "z": "8ddedb49.bb7418",
        "name": "Find And Projection",
        "func": "let filter = {}\nmsg.payload=[filter]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "cb95e069.e874f8"
            ]
        ]
    },
    {
        "id": "86c807ab.8b6e3",
        "type": "comment",
        "z": "8ddedb49.bb7418",
        "name": "Read ",
        "info": "",
        "x": 110,
        "y": 280,
        "wires": []
    },
    {
        "id": "c8294ef3.73d608",
        "type": "comment",
        "z": "8ddedb49.bb7418",
        "name": "Insert",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "c97ea451.62a5a8",
        "type": "function",
        "z": "8ddedb49.bb7418",
        "name": "Object to Array delete prop",
        "func": "let todo_list =msg.payload\nlet todoArray = Object.values(todo_list)\ntodoArray.forEach((e)=>{e.description  = e.label;\n    delete e.label\n    delete e._id\n    delete e.date\n    delete e.status_\n    \n})\nmsg.payload = todoArray\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 360,
        "wires": [
            [
                "73bc7625.8d2c"
            ]
        ]
    },
    {
        "id": "73bc7625.8d2c",
        "type": "function",
        "z": "8ddedb49.bb7418",
        "name": "Add to global",
        "func": "global.set('todo_list',msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 360,
        "wires": [
            [
                "79e5f584.567cbc",
                "bf99e194.eb1e6"
            ]
        ]
    },
    {
        "id": "cd9e9349.71aaf",
        "type": "ui_list",
        "z": "14f5dba6.7b0364",
        "group": "4ac18369.c4355c",
        "name": "",
        "order": 1,
        "width": "6",
        "height": "10",
        "lineType": "three",
        "actionType": "click",
        "allowHTML": false,
        "x": 690,
        "y": 340,
        "wires": [
            [
                "b9abd220.fcad18",
                "653583ae.db8ae4"
            ]
        ]
    },
    {
        "id": "ae55e4ef.37e67",
        "type": "function",
        "z": "14f5dba6.7b0364",
        "name": "Get Global todo_list",
        "func": "msg.payload = global.get('todo_list')\nglobal.set('todo_list',null)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "cd9e9349.71aaf"
            ]
        ]
    },
    {
        "id": "33455d14.637812",
        "type": "ui_button",
        "z": "14f5dba6.7b0364",
        "name": "",
        "group": "7930c2c.61ea1bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "ae55e4ef.37e67",
                "78a5fd3d.5e031c"
            ]
        ]
    },
    {
        "id": "dda9f6d7.411558",
        "type": "link in",
        "z": "14f5dba6.7b0364",
        "name": "is Read",
        "links": [
            "bf99e194.eb1e6"
        ],
        "x": 175,
        "y": 440,
        "wires": [
            [
                "ae55e4ef.37e67"
            ]
        ]
    },
    {
        "id": "bf99e194.eb1e6",
        "type": "link out",
        "z": "8ddedb49.bb7418",
        "name": "is Read",
        "links": [
            "dda9f6d7.411558"
        ],
        "x": 1215,
        "y": 420,
        "wires": []
    },
    {
        "id": "78a5fd3d.5e031c",
        "type": "link out",
        "z": "14f5dba6.7b0364",
        "name": "is Refresh",
        "links": [
            "b7c73278.1d8c58"
        ],
        "x": 320,
        "y": 280,
        "wires": []
    },
    {
        "id": "b7c73278.1d8c58",
        "type": "link in",
        "z": "8ddedb49.bb7418",
        "name": "is Refresh",
        "links": [
            "78a5fd3d.5e031c",
            "5d81875f.3c3fb8"
        ],
        "x": 180,
        "y": 440,
        "wires": [
            [
                "b114eebe.314bb8"
            ]
        ]
    },
    {
        "id": "7d1013a6.da1d44",
        "type": "mqtt out",
        "z": "8ddedb49.bb7418",
        "name": "Pub Todos",
        "topic": "/NODE_RED/Todos",
        "qos": "0",
        "retain": "true",
        "broker": "896704eb.eb24f8",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "9a8abadd.7b2a7",
        "type": "function",
        "z": "8ddedb49.bb7418",
        "name": "Pre Sent",
        "func": "let todos=msg.payload\nlet todoArray = Object.values(todos)\ntodoArray.forEach((e)=>{\n    delete e._id\n    e.date = e.date.toString().substr(0,e.date.toString().length-14)\n   \n})\nlet todo_list = {\n    \"list\":todos\n}\nglobal.set('todo_list',todo_list)\nmsg.payload = todo_list\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 460,
        "wires": [
            [
                "7d1013a6.da1d44",
                "e7437fb2.42f26"
            ]
        ]
    },
    {
        "id": "e7437fb2.42f26",
        "type": "debug",
        "z": "8ddedb49.bb7418",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 960,
        "y": 540,
        "wires": []
    },
    {
        "id": "b9abd220.fcad18",
        "type": "debug",
        "z": "14f5dba6.7b0364",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "653583ae.db8ae4",
        "type": "function",
        "z": "14f5dba6.7b0364",
        "name": "",
        "func": "let in_msg = msg.payload\nlet delete_id = in_msg.store_id\nmsg.payload = {\n    \"store_id\":delete_id\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 440,
        "wires": [
            [
                "8dc96333.b22a2"
            ]
        ]
    },
    {
        "id": "4aa7a52e.4a323c",
        "type": "comment",
        "z": "8ddedb49.bb7418",
        "name": "Delete",
        "info": "",
        "x": 110,
        "y": 600,
        "wires": []
    },
    {
        "id": "d4f1b593.95b858",
        "type": "link in",
        "z": "8ddedb49.bb7418",
        "name": "delete id",
        "links": [
            "8dc96333.b22a2"
        ],
        "x": 115,
        "y": 680,
        "wires": [
            [
                "56cbbe39.66e918"
            ]
        ]
    },
    {
        "id": "56cbbe39.66e918",
        "type": "mongodb3 in",
        "z": "8ddedb49.bb7418",
        "service": "_ext_",
        "configNode": "80546830.bfc89",
        "name": "Delete Many",
        "collection": "todos",
        "operation": "deleteOne",
        "x": 350,
        "y": 680,
        "wires": [
            [
                "dca5e0d2.2fc24",
                "5d81875f.3c3fb8",
                "6b559d8a.87a4e4"
            ]
        ]
    },
    {
        "id": "dca5e0d2.2fc24",
        "type": "debug",
        "z": "8ddedb49.bb7418",
        "name": "Delete Many Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 660,
        "y": 800,
        "wires": []
    },
    {
        "id": "5d81875f.3c3fb8",
        "type": "link out",
        "z": "8ddedb49.bb7418",
        "name": "is deleted",
        "links": [
            "b7c73278.1d8c58",
            "87d68755.dda7d8"
        ],
        "x": 615,
        "y": 600,
        "wires": []
    },
    {
        "id": "f4a05ad4.18f88",
        "type": "comment",
        "z": "14f5dba6.7b0364",
        "name": "Done ",
        "info": "",
        "x": 110,
        "y": 520,
        "wires": []
    },
    {
        "id": "6b559d8a.87a4e4",
        "type": "function",
        "z": "8ddedb49.bb7418",
        "name": "Rest store_id",
        "func": "global.set(\"delete_todo\",null)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "911a5631.89a4f8",
        "type": "objectid",
        "z": "14f5dba6.7b0364",
        "name": "",
        "selectedProperty": "store_id",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "dfbbf655.62c218"
            ]
        ]
    },
    {
        "id": "de1b49ac.8aeb78",
        "type": "debug",
        "z": "8ddedb49.bb7418",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 560,
        "y": 60,
        "wires": []
    },
    {
        "id": "993c6b88.634d88",
        "type": "link in",
        "z": "8ddedb49.bb7418",
        "name": "is Insert",
        "links": [
            "dba3bfc8.ffcbf"
        ],
        "x": 155,
        "y": 140,
        "wires": [
            [
                "9c719982.dd95a8"
            ]
        ]
    },
    {
        "id": "dba3bfc8.ffcbf",
        "type": "link out",
        "z": "14f5dba6.7b0364",
        "name": "is Insert",
        "links": [
            "993c6b88.634d88"
        ],
        "x": 1115,
        "y": 180,
        "wires": []
    },
    {
        "id": "8dc96333.b22a2",
        "type": "link out",
        "z": "14f5dba6.7b0364",
        "name": "Delete ID",
        "links": [
            "d4f1b593.95b858"
        ],
        "x": 1075,
        "y": 440,
        "wires": []
    },
    {
        "id": "c8a2d825.5c30d8",
        "type": "mongodb3 in",
        "z": "7314d481.60977c",
        "service": "_ext_",
        "configNode": "80546830.bfc89",
        "name": "",
        "collection": "todos",
        "operation": "find.forEach",
        "x": 480,
        "y": 120,
        "wires": [
            [
                "1cba0727.b55a39"
            ]
        ]
    },
    {
        "id": "1cba0727.b55a39",
        "type": "function",
        "z": "7314d481.60977c",
        "name": "delete and modify ",
        "func": "delete msg.payload._id\nmsg.payload.date = msg.payload.date.toString().substr(0,msg.payload.date.toString().length-14)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 120,
        "wires": [
            [
                "d9f244f5.8072e8"
            ]
        ]
    },
    {
        "id": "d9f244f5.8072e8",
        "type": "mqtt out",
        "z": "7314d481.60977c",
        "name": "",
        "topic": "/NODE_RED/Todos",
        "qos": "0",
        "retain": "false",
        "broker": "896704eb.eb24f8",
        "x": 1050,
        "y": 120,
        "wires": []
    },
    {
        "id": "149d6a88.9aa255",
        "type": "debug",
        "z": "7314d481.60977c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1150,
        "y": 400,
        "wires": []
    },
    {
        "id": "19e7110.81b19ef",
        "type": "mongodb3 in",
        "z": "7314d481.60977c",
        "service": "_ext_",
        "configNode": "80546830.bfc89",
        "name": "",
        "collection": "todos",
        "operation": "find.toArray",
        "x": 540,
        "y": 320,
        "wires": [
            [
                "364faa52.209636"
            ]
        ]
    },
    {
        "id": "364faa52.209636",
        "type": "function",
        "z": "7314d481.60977c",
        "name": "Count All Docs",
        "func": "let payload =msg.payload\nlet length = Object.values(payload).length\nmsg.payload = length\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 320,
        "wires": [
            [
                "149d6a88.9aa255",
                "a4b69093.136af",
                "8d4e1759.574b48"
            ]
        ]
    },
    {
        "id": "a4b69093.136af",
        "type": "mqtt out",
        "z": "7314d481.60977c",
        "name": "",
        "topic": "/NODE_RED/Count",
        "qos": "0",
        "retain": "false",
        "broker": "896704eb.eb24f8",
        "x": 1170,
        "y": 320,
        "wires": []
    },
    {
        "id": "710f7008.844d",
        "type": "delay",
        "z": "7314d481.60977c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 240,
        "y": 380,
        "wires": [
            [
                "19e7110.81b19ef"
            ]
        ]
    },
    {
        "id": "418600a0.2f298",
        "type": "mqtt in",
        "z": "7314d481.60977c",
        "name": "",
        "topic": "/ESP32_1/Start",
        "qos": "0",
        "datatype": "auto",
        "broker": "896704eb.eb24f8",
        "x": 280,
        "y": 560,
        "wires": [
            [
                "710f7008.844d"
            ]
        ]
    },
    {
        "id": "8d4e1759.574b48",
        "type": "delay",
        "z": "7314d481.60977c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 220,
        "y": 120,
        "wires": [
            [
                "c8a2d825.5c30d8"
            ]
        ]
    },
    {
        "id": "8a379586.d566e8",
        "type": "link out",
        "z": "8ddedb49.bb7418",
        "name": "is Fetch",
        "links": [
            "484c413b.3bc06"
        ],
        "x": 735,
        "y": 80,
        "wires": []
    },
    {
        "id": "484c413b.3bc06",
        "type": "link in",
        "z": "7314d481.60977c",
        "name": "is Fetch",
        "links": [
            "8a379586.d566e8"
        ],
        "x": 35,
        "y": 320,
        "wires": [
            [
                "f686e865.90ebe8"
            ]
        ]
    },
    {
        "id": "f686e865.90ebe8",
        "type": "function",
        "z": "7314d481.60977c",
        "name": "",
        "func": "msg.payload = {}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "19e7110.81b19ef"
            ]
        ]
    },
    {
        "id": "5b74d3c8.85bbac",
        "type": "comment",
        "z": "7314d481.60977c",
        "name": "Pub Todo",
        "info": "",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "d7e6d3c3.ca224",
        "type": "comment",
        "z": "7314d481.60977c",
        "name": "Count Doc",
        "info": "",
        "x": 220,
        "y": 260,
        "wires": []
    },
    {
        "id": "e6ed84a2.1380b8",
        "type": "comment",
        "z": "7314d481.60977c",
        "name": "Get Board Start",
        "info": "",
        "x": 280,
        "y": 500,
        "wires": []
    },
    {
        "id": "87d68755.dda7d8",
        "type": "link in",
        "z": "7314d481.60977c",
        "name": "",
        "links": [
            "5d81875f.3c3fb8"
        ],
        "x": 40,
        "y": 400,
        "wires": [
            [
                "f686e865.90ebe8"
            ]
        ]
    },
    {
        "id": "500be0d3.5310f",
        "type": "mqtt in",
        "z": "1516c399.b0a68c",
        "name": "",
        "topic": "/ESP32_1/ENV",
        "qos": "0",
        "datatype": "json",
        "broker": "896704eb.eb24f8",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "7f364618.5ff5d8",
                "6e08321d.d23cbc",
                "cb2b9393.f2ccf",
                "5e3b8c90.37bcc4",
                "c8b07dac.df6e6"
            ]
        ]
    },
    {
        "id": "6e08321d.d23cbc",
        "type": "function",
        "z": "1516c399.b0a68c",
        "name": "",
        "func": "let data = msg.payload.temp\nmsg.payload=data\nmsg.topic=\"value\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "16985e0e.810972"
            ]
        ]
    },
    {
        "id": "7f364618.5ff5d8",
        "type": "mongodb3 in",
        "z": "1516c399.b0a68c",
        "service": "_ext_",
        "configNode": "80546830.bfc89",
        "name": "",
        "collection": "env",
        "operation": "insert",
        "x": 430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "cb2b9393.f2ccf",
        "type": "function",
        "z": "1516c399.b0a68c",
        "name": "",
        "func": "let data = msg.payload.hum\nmsg.payload=data\nmsg.label=\"hum\"\nmsg.topic=\"value\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 440,
        "wires": [
            [
                "20edc991.009866"
            ]
        ]
    },
    {
        "id": "20edc991.009866",
        "type": "ui_gauge",
        "z": "1516c399.b0a68c",
        "name": "",
        "group": "ce3c07ed.f28948",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "5e3b8c90.37bcc4",
        "type": "function",
        "z": "1516c399.b0a68c",
        "name": "",
        "func": "let data = msg.payload.pressure\nmsg.payload=data\nmsg.series=\"pressure\"\nmsg.topic=\"value\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "75188618.2f3b18"
            ]
        ]
    },
    {
        "id": "c8b07dac.df6e6",
        "type": "debug",
        "z": "1516c399.b0a68c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "16985e0e.810972",
        "type": "ui_gauge",
        "z": "1516c399.b0a68c",
        "name": "",
        "group": "959bde5e.69fdb",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "gauge",
        "label": "c",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "75188618.2f3b18",
        "type": "ui_gauge",
        "z": "1516c399.b0a68c",
        "name": "",
        "group": "7d5c024d.903cac",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "pa",
        "format": "{{value}}",
        "min": 0,
        "max": "200000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 560,
        "wires": []
    }
]